.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top:20px;
}

.features {
  display: flex;
  flex-direction: column; /* Set flex direction to column */
  align-items: center; /* Center align items horizontally */
  text-align: center;
}

.features-heading {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0px; /* Add some bottom margin to the heading for spacing */
}


.feature-1 {
  width: calc(100% - 40px); /* Set width to 100% minus the total horizontal padding */
  padding: 150px;
  border: 0px solid #ccc;
  border-radius: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  align-items: center;
  margin-bottom: -1px; /* Add negative margin to pull boxes closer together */
  background: linear-gradient(80deg, #ffffff, #fff2e1); 
}

.image {
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px 0 0 5px; /* Rounded corner on the left side */
}

.text {
  padding: 20px;
  border-radius: 0 5px 5px 0; /* Rounded corner on the right side */
}

.text h3 {
  margin-top: 0; /* Remove default margin for h3 */
}

.feature-2 {
  width: calc(100% - 40px); /* Set width to 100% minus the total horizontal padding */
  padding: 150px;
  border: 0px solid #ccc;
  border-radius: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  align-items: center;
  margin-bottom: -1px; /* Add negative margin to pull boxes closer together */
  background: linear-gradient(80deg, #ead8c0, #ffffff); 
}

.image {
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px 0 0 5px; /* Rounded corner on the left side */
}

.text {
  padding: 20px;
  border-radius: 0 5px 5px 0; /* Rounded corner on the right side */
}

.text h3 {
  margin-top: 0; /* Remove default margin for h3 */
}

.feature-3 {
  width: calc(100% - 40px); /* Set width to 100% minus the total horizontal padding */
  padding: 150px;
  border: 0px solid #ccc;
  border-radius: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  align-items: center;
  margin-bottom: -1px; /* Add negative margin to pull boxes closer together */
  background: linear-gradient(80deg, #ffffff, #fff2e1); 
}

.image {
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px 0 0 5px; /* Rounded corner on the left side */
}

.text {
  padding: 20px;
  border-radius: 0 5px 5px 0; /* Rounded corner on the right side */
}

.text h3 {
  margin-top: 0; /* Remove default margin for h3 */
}



.feature h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.feature p {
  font-size: 16px;
}
